<h1 class="text-3xl semi-bold"> Challenge management</h1>

<div class="flex justify-between">

   
    <div class="border p-5 rounded">
       <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Maximum Challenge Tokens </label>
       <input [(ngModel)]="maximumTokens" type="number" min="0"  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required>
       <button (click)="updateMaximumTokens()" type="button" class="w-1/2 px-5 py-2 mt-3 text-sm text-white transition-colors duration-200 bg-blue-500 border rounded-lg sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-white dark:border-gray-700">
          Update
      </button >
      </div>

 
</div>