<section class="bg-gray-100 ">
    <div class="flex gap-x-3  center border m-auto w-4/5">
        <!-- Side Bar -->
        <div class="border w-80 ">
            <div class="h-full  overflow-y-auto bg-white dark:bg-gray-800">
                <ul class="space-y-2 font-medium">
                    <li>
                        <a href="#" class="flex items-center border-b p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                           
                           <span class="ml-3 text-xl">My Orders</span>
                        </a>
                     </li>
                    <li>
                        <button class="flex w-full focus:bg-gray-300 items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                           
                           <svg class="w-5 focus:bg-gray-600 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
                            <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
                          </svg>
                           <span class="ml-3">Placed Orders</span>
                        </button>
                     </li>
                   <li>
                      <button class="flex w-full items-center  p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                       
                         <svg  class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                            <path d="M19.9 6.58c0-.009 0-.019-.006-.027l-2-4A1 1 0 0 0 17 2h-4a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v9a1 1 0 0 0 1 1h.3c-.03.165-.047.332-.051.5a3.25 3.25 0 1 0 6.5 0A3.173 3.173 0 0 0 7.7 12h4.6c-.03.165-.047.332-.051.5a3.25 3.25 0 1 0 6.5 0 3.177 3.177 0 0 0-.049-.5h.3a1 1 0 0 0 1-1V7a.99.99 0 0 0-.1-.42ZM16.382 4l1 2H13V4h3.382ZM4.5 13.75a1.25 1.25 0 1 1 0-2.5 1.25 1.25 0 0 1 0 2.5Zm11 0a1.25 1.25 0 1 1 0-2.5 1.25 1.25 0 0 1 0 2.5Z"/>
                          </svg>
                         <span class=" ml-3 whitespace-nowrap">Collected Orders</span>
                         <span class=" w-auto flex-1 items-center justify-center px-2 ml-8 text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300">Pro</span>
                      </button>
                   </li>
                </ul>
            </div>

        </div>
    
        <div class="bg-white  w-full">
            <div>
                <img class="w-3/4 mx-auto" src="https://img.freepik.com/free-vector/employees-deliver-goods-various-forms-customers_1150-35058.jpg?w=1380&t=st=1692227238~exp=1692227838~hmac=ef19b4fddd4bb17b06a8c02f72230df1bf4f1c824b859601b10f47f4dae8b90b" alt="">
            </div>
            <h5 class=" text-xl text-center font-bold text-3xl">Order Details</h5> 
            <a href="#" class="flex  mx-auto flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://media.takealot.com/covers_images/a45c970d2fb44ca9920729738f4b5d66/s-zoom.file" alt="">
               
                <div class="flex flex-col justify-between w-full p-4 leading-normal">
                    <div class="flex justify-between">
                        <p class="mb-2 font-bold text-gray-900 dark:text-gray-400">Order BW3442</p>
                        <p class="mb-2 font-bold text-gray-900 dark:text-gray-400">19 June 2023 </p>
                    </div> 
                    <p class="mb-2 font-bold text-yellow-400 dark:text-gray-400">Placed</p>
                    <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-700 dark:text-white">BMW M Motorsport Jacket Men</h5>
                    <p class="mb-2 font-semibold text-gray-700 dark:text-gray-400">Size : M</p>
        
                    <p class="mb-2 font-bold text-gray-700 dark:text-gray-400">250 Hubcoins</p>

                                 
                </div>
            </a>

        </div>
    </div>
    
</section>