<section class="h-screen dark:bg-gray-900 bg-center bg-[url('/assets/images/edit-challenge.jpg')] flex flex-col  bg-gray-200 bg-cover bg-blend-multiply " >
    <div class=" float-right p-5 ">
        <img src="/assets/images/BMW_Logo.png" class="h-[80px] " alt="">
       
    </div>
    <P class="text-center text-white font-semibold text-3xl">Edit Challenge </P>
    <div class="max-w-2xl px-4 py-4 mx-auto border rounded-md border-transparent bg-gray-50  lg:py-4 animate-jump-in animate-once animate-delay-1000">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Challenge NAme</h2>
        <form [formGroup]="challengeForm" (ngSubmit)="onSubmit()">
            <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
               
                <div  class="sm:col-span-2">
                    <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cover Image</label>
          
                    <div class="flex items-center justify-center w-full  " >
                      <div class="c w-full lg:h-[150px]" *ngIf="base64Image">
                          <div for="dropzone-file"
                              class=" relative flex flex-col items-center justify-center w-full lg:h-[150px] border-2 border-gray-300  rounded-lg cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
                              >
                              <span class="sr-only">Notifications</span>
                              <span (click)="clearImageUpload()" class="absolute inline-flex items-center bg-white justify-center w-6 h-6 text-xs font-bold text-white border-2 border-gray-500 rounded-full -top-2 -right-2 dark:border-gray-900">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 text-gray-400 dark:text-gray-600">
                                  <path fill-rule="evenodd" d="M5.293 4.293a1 1 0 011.414 0L10 8.586l3.293-3.293a1 1 0 111.414 1.414L11.414 10l3.293 3.293a1 1 0 01-1.414 1.414L10 11.414l-3.293 3.293a1 1 0 01-1.414-1.414L8.586 10 5.293 6.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                                </svg>
                              </span>
                              <img style="height: 130px;" [src]="base64Image" *ngIf="base64Image" alt="Uploaded Image">
                          </div>                   
                      </div>
          
                      <!-- Upload image section -->
                      <label for="dropzone-file" *ngIf="!base64Image" (drop)="onImageDrop($event)" (dragover)="onDragOver($event)"
                          class="flex flex-col items-center justify-center w-full h-36 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                          <div class="flex flex-col items-center justify-center pt-5 pb-6">
                              <svg aria-hidden="true" class="w-10 h-10 mb-3 text-blue-400" fill="none" stroke="currentColor"
                                  viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12">
                                  </path>
                              </svg>
                              <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to
                                      upload</span> or <span class="text-gray-300">drag and drop</span></p>
                              <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                          </div>
                          <input id="dropzone-file" type="file" accept="image/*" class="hidden" (change)="handleFileInput($event)" />
                      </label>
                  </div> 
                </div>
                
                <div class="w-full">
                    <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">End Date</label>
                    <input  type="datetime-local" [(ngModel)]="updateChallenge.startDate" min=""  formControlName="endDate"   placeholder="John Doe" class="block mt-2 w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300"  name="endDate"   />
                </div>
              
                <div class="sm:col-span-2">
                    <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                    <textarea  formControlName="description" [(ngModel)]="updateChallenge.description" id="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Write a challenge description here...">
                    </textarea>
                </div>
            </div>
            <div class="flex items-center space-x-4">
                <button type="submit" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Update Challenge
                </button>
                <button type="button" class="text-gray-600 inline-flex items-center hover:text-white border border-gray-500 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                    Cancel
                </button>
            </div>
        </form>
    </div>
  </section>